<a href="https://colab.research.google.com/github/MI177/IntersemestralesPython/blob/main/Preprocesamiento1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PRE PROCESAMIENTO DE DATOS

Perez Hernandez Maricela Isabel

In [38]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series({'a': 10, 'b': 20, 'c': 30})
print(type(s))
s

<class 'pandas.core.series.Series'>

a    10
b    20
c    30
dtype: int64

In [ ]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
s1 = pd.Series([10,20,30,40])
s1

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
s1.max()

40

In [ ]:
#Estadisticos basicos de la serie
s1.describe()

count     4.000000
mean     25.000000
std      12.909944
min      10.000000
25%      17.500000
50%      25.000000
75%      32.500000
max      40.000000
dtype: float64

In [ ]:
#Generamos una serie de numeros aleatorios
s2 = pd.Series(np.random.randn(5))
s2

0    0.235426
1   -0.310980
2    0.143154
3   -0.837046
4    1.150795
dtype: float64

In [ ]:
#serie de varios objetos
s3 = pd.Series([[10, 20],\
                [30, 40.5,'series'],\
                [50, 55],\
                {'Name':'Tess','Org':'Packt'}])
s3

0                            [10, 20]
1                  [30, 40.5, series]
2                            [50, 55]
3    {'Name': 'Tess', 'Org': 'Packt'}
dtype: object

In [ ]:
#s3[1]
s3[1][1]

40.5

In [ ]:
#s3[1].describe() X
s3.describe()

count            4
unique           4
top       [10, 20]
freq             1
dtype: object

In [ ]:
#Nos dice la forma que tiene el objeto. Numero de renglones y columnas
s3.shape

(4,)

In [ ]:
#Data frame coleccion de series, varies fuentes, de diccionarios, de otros dataframes
df = pd.DataFrame([30,50,20])
print(type(df))
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
(3, 1)

In [ ]:
df

    0
0  30
1  50
2  20

In [ ]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [ ]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
list(df.index)

[0, 1, 2]

In [ ]:
print("Las columnas del DF son, ",list(df.columns))
print("Los indices de renglones del DF son, ",list(df.index))

Las columnas del DF son,  [0]
Los indices de renglones del DF son,  [0, 1, 2]

In [ ]:
df.columns=["C1"]
df.index=["R1","R2","R3"]
df

    C1
R1  30
R2  50
R3  20

In [ ]:
df["C1"]

R1    30
R2    50
R3    20
Name: C1, dtype: int64

In [ ]:
#lista de tuplas | data permite recibir los datos desde otro lado
l=[(0, 1, 2), (1, 2, 3), (4, 5, 6), (7, 8, 9)]
df1 = pd.DataFrame(data=l)
print(df1.shape)
df1

(4, 3)

   0  1  2
0  0  1  2
1  1  2  3
2  4  5  6
3  7  8  9

In [ ]:
l1=[(0, 1, 2), (1, 2, 3), (4, 5, 6), (7, 8, 9,10)]
df12 = pd.DataFrame(data=l1)
df12

   0  1  2     3
0  0  1  2   NaN
1  1  2  3   NaN
2  4  5  6   NaN
3  7  8  9  10.0

In [55]:
l3=[(0, 1, 2), (1, 2, 3), (4, 5, 6), (7, 8, 9)]
df3=pd.DataFrame(data=l3, columns=["C1","C2","C3"], index=["R1","R2","R3","R4"])

df3

    C1  C2  C3
R1   0   1   2
R2   1   2   3
R3   4   5   6
R4   7   8   9

In [ ]:
df1.describe()

In [42]:
df12.describe()

              0         1         2     3
count  4.000000  4.000000  4.000000   1.0
mean   3.000000  4.000000  5.000000  10.0
std    3.162278  3.162278  3.162278   NaN
min    0.000000  1.000000  2.000000  10.0
25%    0.750000  1.750000  2.750000  10.0
50%    2.500000  3.500000  4.500000  10.0
75%    4.750000  5.750000  6.750000  10.0
max    7.000000  8.000000  9.000000  10.0

In [45]:
d = {'py101':[10, 5, 33 ,45, 25, 22],
                'py111':[0, 15, 21 , 30, 31, 11],
                'py121':[15, 5, 1 ,10, 42, 21],
                'py301':[20, 35, 3 ,15, 0, 0], }

meses = ('enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio')

df4=pd.DataFrame(data=d, index=meses)
df4

         py101  py111  py121  py301
enero       10      0     15     20
febrero      5     15      5     35
marzo       33     21      1      3
abril       45     30     10     15
mayo        25     31     42      0
junio       22     11     21      0

In [48]:
#matriz bidimensional
m=np.arange(9).reshape(3,3)
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [50]:
df5=pd.DataFrame(m, index=["uno", "dos", "tres"], columns=["C1",2,"C3"])
df5

      C1  2  C3
uno    0  1   2
dos    3  4   5
tres   6  7   8

In [56]:
d

{'py101': [10, 5, 33, 45, 25, 22],
 'py111': [0, 15, 21, 30, 31, 11],
 'py121': [15, 5, 1, 10, 42, 21],
 'py301': [20, 35, 3, 15, 0, 0]}

In [58]:
#No esta encontrando que tenga el nombre que se esta asignado en este bloque
#el renombramiento debe hacerse por separado
df6=pd.DataFrame(data=d, index=meses, columns=['mesas', 'py101', 'bancos', 'puertas'])
df6

        mesas  py101 bancos puertas
enero     NaN     10    NaN     NaN
febrero   NaN      5    NaN     NaN
marzo     NaN     33    NaN     NaN
abril     NaN     45    NaN     NaN
mayo      NaN     25    NaN     NaN
junio     NaN     22    NaN     NaN

In [59]:
df7=pd.DataFrame(d, index=meses)
df7

         py101  py111  py121  py301
enero       10      0     15     20
febrero      5     15      5     35
marzo       33     21      1      3
abril       45     30     10     15
mayo        25     31     42      0
junio       22     11     21      0

In [60]:
#asignacion de columnas
df7.columns=["BD","TEBD","UML","JAVA"]
df7

         BD  TEBD  UML  JAVA
enero    10     0   15    20
febrero   5    15    5    35
marzo    33    21    1     3
abril    45    30   10    15
mayo     25    31   42     0
junio    22    11   21     0

In [61]:
#renombramiento | inplace dentro del df para que se visalicen
df7.rename(columns={'UML':'SI', 'JAVA':'POO'}, inplace=True)
df7

         BD  TEBD  SI  POO
enero    10     0  15   20
febrero   5    15   5   35
marzo    33    21   1    3
abril    45    30  10   15
mayo     25    31  42    0
junio    22    11  21    0

In [62]:
#Cambiar el nombre de algunos indices y columnas del DF
df7.rename(index={'febrero':'feb', 'mayo':'may'}, columns={'SI':'PROG1'}, inplace=True)
df7

       BD  TEBD  PROG1  POO
enero  10     0     15   20
feb     5    15      5   35
marzo  33    21      1    3
abril  45    30     10   15
may    25    31     42    0
junio  22    11     21    0

In [64]:
df7.describe()

              BD       TEBD      PROG1        POO
count   6.000000   6.000000   6.000000   6.000000
mean   23.333333  18.000000  15.666667  12.166667
std    14.706008  11.865918  14.719601  13.934370
min     5.000000   0.000000   1.000000   0.000000
25%    13.000000  12.000000   6.250000   0.750000
50%    23.500000  18.000000  12.500000   9.000000
75%    31.000000  27.750000  19.500000  18.750000
max    45.000000  31.000000  42.000000  35.000000

In [67]:
print(type(df7['POO']))
df7['POO']

<class 'pandas.core.series.Series'>

enero      20
febrero    35
marzo       3
abril      15
mayo        0
junio       0
Name: POO, dtype: int64

In [68]:
df7['POO'].describe()

count     6.000000
mean     12.166667
std      13.934370
min       0.000000
25%       0.750000
50%       9.000000
75%      18.750000
max      35.000000
Name: POO, dtype: float64

In [69]:
#cuenta como un objeto mas
sPOO=df7['POO']
sPOO

enero      20
febrero    35
marzo       3
abril      15
mayo        0
junio       0
Name: POO, dtype: int64

In [71]:
#mas una columna lo convierte en df
print(type(df7[['POO','BD']]))
df7[['POO','BD']]

<class 'pandas.core.frame.DataFrame'>

         POO  BD
enero     20  10
febrero   35   5
marzo      3  33
abril     15  45
mayo       0  25
junio      0  22

In [72]:
dfPOOBD=df7[['POO','BD']]
dfPOOBD

#df7['marzo']

         POO  BD
enero     20  10
febrero   35   5
marzo      3  33
abril     15  45
mayo       0  25
junio      0  22

In [73]:
#una lista a partir de los valores a mostrar en base a renglones
df7['marzo':'mayo']

       BD  TEBD  PROG1  POO
marzo  33    21      1    3
abril  45    30     10   15
mayo   25    31     42    0

In [74]:
df7['marzo':'mayo']['POO']

marzo     3
abril    15
mayo      0
Name: POO, dtype: int64

In [76]:
#"slice" de df
df7['marzo':'mayo'][['POO','BD']]

       POO  BD
marzo    3  33
abril   15  45
mayo     0  25

In [78]:
#df7[:3]
df7[1:4]

         BD  TEBD  PROG1  POO
febrero   5    15      5   35
marzo    33    21      1    3
abril    45    30     10   15

In [79]:
#df7[::] todo
#df7[::2] todo con saltos de 2 en 2

#todo pero solo de una columna
df7['BD'][::2]

enero    10
marzo    33
mayo     25
Name: BD, dtype: int64

In [80]:
from datetime import datetime
df = pd.DataFrame({'nombres':('Juan Pérez',
                                 'María Sánchez'
                                 , 'Jorge Vargas',
                                 'Rodrigo Martínez'),
            'fechas':(datetime(1995,12,21),
                      datetime(1989,1,13),
                      datetime(1992,9,14),
                      datetime(1993,7,8)),
            'saldo': (2500,
                      5345,
                      np.NaN,
                      11323.2),
            'al_corriente':(True,
                            True,
                            False,
                            True)})

df

            nombres     fechas    saldo  al_corriente
0        Juan Pérez 1995-12-21   2500.0          True
1     María Sánchez 1989-01-13   5345.0          True
2      Jorge Vargas 1992-09-14      NaN         False
3  Rodrigo Martínez 1993-07-08  11323.2          True

In [82]:
df.dtypes

nombres                 object
fechas          datetime64[ns]
saldo                  float64
al_corriente              bool
dtype: object

In [83]:
df.describe()

             saldo
count      3.00000
mean    6389.40000
std     4503.36464
min     2500.00000
25%     3922.50000
50%     5345.00000
75%     8334.10000
max    11323.20000

In [84]:
df['saldo'].describe()

count        3.00000
mean      6389.40000
std       4503.36464
min       2500.00000
25%       3922.50000
50%       5345.00000
75%       8334.10000
max      11323.20000
Name: saldo, dtype: float64

In [85]:
#solo para la visualizacion
df.astype(str).dtypes

nombres         object
fechas          object
saldo           object
al_corriente    object
dtype: object

In [86]:
df['saldo'].astype(str)

0     2500.0
1     5345.0
2        nan
3    11323.2
Name: saldo, dtype: object

In [87]:
df.dtypes

nombres                 object
fechas          datetime64[ns]
saldo                  float64
al_corriente              bool
dtype: object

In [88]:
df['fechas'].astype(int)

0    819504000000000000
1    600652800000000000
2    716428800000000000
3    742089600000000000
Name: fechas, dtype: int64

In [89]:
df['saldo']*1.16

0     2900.000
1     6200.200
2          NaN
3    13134.912
Name: saldo, dtype: float64

In [91]:
df['saldo_iva']=df['saldo']*1.16
df

            nombres     fechas    saldo  al_corriente  saldo_iva
0        Juan Pérez 1995-12-21   2500.0          True   2900.000
1     María Sánchez 1989-01-13   5345.0          True   6200.200
2      Jorge Vargas 1992-09-14      NaN         False        NaN
3  Rodrigo Martínez 1993-07-08  11323.2          True  13134.912

In [92]:
df['saldo_iva']=df['saldo_iva'].astype(str)
df.dtypes

nombres                 object
fechas          datetime64[ns]
saldo                  float64
al_corriente              bool
saldo_iva               object
dtype: object

In [93]:
df['saldo_iva']*12

0    2900.02900.02900.02900.02900.02900.02900.02900...
1    6200.26200.26200.26200.26200.26200.26200.26200...
2                 nannannannannannannannannannannannan
3    13134.91213134.91213134.91213134.91213134.9121...
Name: saldo_iva, dtype: object

In [94]:
df['saldo']*12

0     30000.0
1     64140.0
2         NaN
3    135878.4
Name: saldo, dtype: float64